h2 {
    clear: both;
}

// aligne
figure.aligne-center {
    img {
        float: none;
        margin: 0 1rem 2rem 1rem;
    }
} 

figure.aligne-left {
    img {
        float: left;
        margin: 0 2rem 2rem 0;
    }
} 

figure.aligne-right {
    img {
        float: right;
        margin: 0 0 2rem 2rem;
    }
} 

// size
figure.size-larger {
    img {
        width: 52.3%;
        height: 52.3%;
    }
}

figure.size-large {
    img {
        width: 45.25%;
        height: 45.25%;
    }
}

figure.size-medium {
    img {
        width: 38.2%;
        height: 38.2%;
    }
}

figure.size-third {
    img {
        width: 31%;
        height: 31%;
    }
}

figure.size-small {
    img {
        width: 21.15%;
        height: 21.15%;
    }
}

figure.size-smaller {
    img {
        width: 14.1%;
        height: 14.1%;
    }
}

@media only screen and (max-width: 768px) {
    figure {
        img {
            float: none !important;
            width: 100% !important;
            margin: 0 !important;
        }
    }
}